aiofiles==0.5.0
asyncpg==0.21.0
attrs==20.2.0
certifi==2020.6.20
chardet==3.0.4
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.9.25
httptools==0.1.1
httpx==0.11.1
hyperframe==5.2.0
idna==2.10
importlib-metadata==2.0.0
iniconfig==1.0.1
loguru==0.5.3
marshmallow==3.8.0
more-itertools==8.5.0
multidict==4.7.6
packaging==20.4
pluggy==0.13.1
py==1.9.0
PyJWT==1.7.1
pyparsing==2.4.7
pytest==6.0.2
requests==2.24.0
rfc3986==1.4.0
sanic==20.6.3
six==1.15.0
sniffio==1.1.0
toml==0.10.1
ujson==3.2.0
urllib3==1.25.10
uvloop==0.14.0
websockets==8.1
zipp==3.2.0
